html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
h2 {
  font-family: K2D-semibold, sans-serif;
  font-size: 100px;
  line-height: 6rem;
  margin-left: 5vw;
}
h3 {
  font-family: K2D-semibold, sans-serif;
  font-size: 60px;
  padding-top: 5vh;
}
.everything {
  padding-left: 50px;
  background-color: #120720;
  /* width: 100vw; */
}
.wireframe1 {
  padding-top: 5vh;
}
.name-portrait {
  display: flex;
  align-items: center;
  width: 80vw;
}
.name-portrait img {
  height: 100%;
}
h1 {
  font-family: K2D, sans-serif, Arial, Helvetica;
  font-size: 8.75rem;
}
h1:first-of-type {
  padding-top: 6.25rem;
}

.description {
  font-family: Inter-regular, sans-serif;
  font-size: 1.875rem;
  padding-left: 1.25rem;
  border-left: 0.125rem solid;
}
.description-wrapper {
  margin-top: 5vh;
  margin-left: 35vw;
  width: 30vw;
}

.aboutme {
  margin-bottom: 3vh;
  padding-top: 30vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wireframe2 p {
  margin-left: 35vw;
  margin-bottom: 20vh;
  font-family: Inter-regular, sans-serif;
  font-size: 20px;
  text-align: justify;
  width: 50vw;
}

.table {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 20vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 7rem;
}
.table div {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.table ul {
  list-style-type: none;
}
.table li {
  margin-bottom: 1.25rem;
  font-family: Inter-regular, sans-serif;
  font-size: 1.5rem;
  color: #fffbfb;
}
.projects {
  display: flex;
  flex-direction: row;
  margin: 5vh 0;
}
.projects-headline {
  padding-top: 25vh;
  /* padding-left: 5vw; */
  padding-bottom: 20vh;
}

.projects a {
  /* display: block; */
  margin-left: 1.25rem;
  font-family: Inter-regular, sans-serif;
  font-size: 1.5rem;
  color: #fffbfb;
}
.projects img {
  scale: 0.7;
}

.wireframe3 p {
  margin-top: 5vh;
  margin-left: 35vw;
  width: 40vw;
  font-family: Inter-regular, sans-serif;
  font-size: 1.3rem;
  color: #fffbfb;
  text-align: justify;
}
.wireframe4 {
  padding-top: 25vh;
  padding-bottom: 20vh;
}
#contact {
  margin-bottom: 10vh;
}
.contact-table {
  margin-left: 10vw;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  width: fit-content;
}

.wireframe4 a {
  display: flex;
  font-family: Inter-regular, sans-serif;
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  background-color: #120720;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}
.wireframe4 a:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
/* ===================================== */
@media screen and (max-width: 1025px) {
  h1 {
    text-align: center;
  }

  h2 {
    font-size: 50px;
    margin: 0;
    line-height: 3rem;
    width: 100%;
    text-align: center;
  }

  h3 {
    margin: 0;
    text-align: center;
    font-size: 40px;
    padding-top: 3vh;
  }

  .everything {
    padding-left: 0;
  }

  .name-portrait {
    flex-direction: column;
    width: 90vw;
  }

  .name-portrait img {
    padding-top: 2vh;
    width: 70%;
  }

  h1 {
    font-size: 4rem;
    padding-top: 3rem;
  }

  .wireframe1 {
    margin: 0;
    height: auto;
  }

  .description {
    font-size: 1.2rem;
  }

  .description-wrapper {
    margin-left: 5vw;
    width: 80vw;
  }

  .aboutme {
    padding-top: 15vh;
    flex-direction: column;
    align-items: flex-start;
  }

  .wireframe2 {
    max-width: 90vw;
  }

  .wireframe2 p {
    margin: 0;
    padding-left: 5vw;
    padding-bottom: 10vh;
    font-size: 16px;
    width: 90vw;
    max-width: 90vw;
    height: auto;
    text-align: justify;
  }

  .table {
    margin: 0;
    padding-top: 2rem;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .table li {
    padding-top: 1rem;
    margin: 0;
    font-size: 1.2rem;
  }

  .table ul div {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .wireframe3 {
    margin: 0;
  }

  .wireframe3 h3 {
    padding-bottom: 1rem;
    margin: 0;
  }

  .projects {
    flex-direction: column;
    margin: 0;
    padding-top: 1rem;
  }

  .projects a:first-of-type {
    margin: 0;
    padding: 0 5vw;
    word-break: break-all;
    text-align: center;
    font-size: 16px;
  }

  .projects a:last-of-type {
    padding: 0;
    margin: 0;
  }

  .projects a:last-of-type img {
    padding: 0;
    margin: 0;
    height: 70vh;
    width: 100%;
    object-fit: contain;
  }

  .projects:last-of-type a:last-of-type img {
    padding: 0;
    margin: 0;
    height: auto;
    width: 100%;
    object-fit: contain;
  }

  .projects-headline {
    padding-top: 15vh;
    padding-bottom: 10vh;
    margin: 0;
  }

  .projects a {
    font-size: 1.2rem;
    margin: 0;
  }

  .wireframe3 p {
    margin: 0;
    padding-left: 5vw;
    padding-bottom: 10vh;
    font-size: 16px;
    width: 90vw;
    max-width: 90vw;
    height: auto;
    text-align: justify;
  }

  .wireframe4 {
    margin: 0;
    padding: 0;
    padding-top: 2rem;
  }

  .contact-table {
    margin: 0;
    padding-bottom: 10vh;
    flex-direction: column;
    align-items: center;
    width: 90vw;
  }

  .wireframe4 a {
    margin: 0;
    font-size: 1rem;
    /* text-align: center; */
  }
}
