.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 25px 15px;
  background-color: black;
  width: 75vw;
  height: 4rem;
  border: 2px solid white;
  border-radius: 20px;
  position: relative;
  left: 5vw;
}

.navbar p {
  font-family: K2D, sans-serif;
  font-size: 2.5rem;
  /* margin-top: -10px; */
}

.navbar a {
  font-family: Inter-variable, sans-serif;
  font-size: 1rem;
}

.navbar .navigation {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
}

@media screen and (max-width: 1025px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    width: 90vw;
    height: auto;
    padding: 15px 10px;
  }

  .navbar p {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
  }

  .navbar a {
    font-size: 0.9rem;
  }

  .navbar .navigation {
    width: 100%;
    justify-content: space-around;
    gap: 0.5rem;
  }
}
